/**
*
* {{ properCase name }}
*
*/

import React, { Component } from 'react';
import PropTypes from 'prop-types';
import { FormattedMessage } from 'react-intl';
import { Form } from 'react-form';
import { Row, Col } from 'react-flexbox-grid';

import { GreenButton } from 'features/ui/components/Button';
import Field from 'components/form/Field';

import validate from './validate';
import messages from './messages';
import styles from './styles.scss';

class {{ properCase name }} extends Component {
  constructor(props) {
    super(props);
    this.state = {
    };
  }

  renderForm = ({ submitForm }) => (
    <form onSubmit={submitForm} className={{curly true}}styles.{{ properCase name }}{{curly}} name="{{ properCase name }}">
      <FormattedMessage {...messages.header} />
      <Row>
        <Col xs={12}>
          <Field field="test" label="test" />
        </Col>
      </Row>
      <GreenButton className={styles.{{ properCase name }}__Submit} type="submit" message={messages.save} />
    </form>
  );

  render() {
    const { onSubmit, onChange, defaultValues } = this.props;
    return (
      <Form onSubmit={onSubmit} validate={validate} defaultValues={defaultValues} onChange={onChange}>
        {this.renderForm}
      </Form>
    );
  }
}

{{ properCase name }}.defaultProps = {
  defaultValues: undefined,
  onChange: () => { },
  onSubmit: () => { },
};

{{ properCase name }}.contextTypes = {
};

{{ properCase name }}.propTypes = {
  onSubmit: PropTypes.func,
  onChange: PropTypes.func,
  defaultValues: PropTypes.object,
};

export default {{ properCase name }};
