/**
*
* {{ properCase name }}
*
*/

import React from 'react';
// import PropTypes from 'prop-types';
{{#if wantCSS}}
import styled from 'styled-components';
{{/if}}
{{#if wantMessages}}
import { FormattedMessage } from 'react-intl';
{{/if}}

{{#if wantCSS}}
const {{ properCase name }}Container = styled.div`
`;
{{/if}}


{{#if wantMessages}}
import messages from './messages';
{{/if}}

const {{ properCase name }} = () => (
      {{#if wantCSS}}
      <{{ properCase name }}Container>
        {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
        {{/if}}
      </{{ properCase name }}Container>
      {{else}}
      <div>
      {{#if wantMessages}}
        <FormattedMessage {...messages.header} />
      {{/if}}
      </div>
      {{/if}}
);


{{ properCase name }}.defaultProps = {
};

{{ properCase name }}.propTypes = {
};

export default {{ properCase name }};
