/*
 *
 * {{ properCase name }}
 *
 */

import React from 'react';
import PropTypes from 'prop-types';
import Helmet from 'react-helmet';
import { Row, Col } from 'react-flexbox-grid';

import messages from './messages';
{{#if wantCSS}}
import styles from './styles.scss';
{{/if}}

const {{ properCase name }} = ({}, { intl }) => (
    <div {{#if wantCSS}}className={{curly true}}styles.{{ properCase name }}{{curly}}{{/if}}>
        <Helmet title={intl.formatMessage(messages.{{ camelCase name }})} />
        <Row>
            <Col xs={10} xsOffset={1} sm={6} smOffset={3} md={4} mdOffset={4}>
            </Col>
        </Row>
    </div>
);

{{ properCase name }}.contextTypes = {
    intl: PropTypes.object.isRequired
}

export default {{ properCase name }};
